/* ---------------------------------
    MAIN CSS
    author: Rafael Mardegan Marquini
    email: rafa.mardegan@gmail.com
    url: https://github.com/rmmarquini
    version: 2022.01.23-v1.0.0
   --------------------------------- */

/* 
  PRIMARY_COLOR: #521b4c
*/

/* ----- FONT IMPORT NUNITO ----- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@font-face {
  font-family: 'Fairydust';
  src: url('../assets/font/fairydust-webf/Fairydust.eot'); /* IE9 Compat Modes */
  src: url('../assets/font/fairydust-webf/Fairydust.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/font/fairydust-webf/Fairydust.woff') format('woff'), /* Modern Browsers */
       url('../assets/font/Fairydust.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../assets/font/fairydust-webf/Fairydust.svg#svgFontName') format('svg'); /* Legacy iOS */
} 

/* ----- MAIN CSS ----- */
body, html {background: #f5f5f5 !important;}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden !important;
  /* sticky footer */
  position: relative;
  min-height: 100%;
}

body {
  /* margin bottom relacionada ao sticky footer */
  margin-bottom: 60px;
  font-family: "Open Sans", Calibri, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.625;
  color: #333;

  /* scrollbar for IE11 */
  scrollbar-face-color: #333;
  -ms-scrollbar-face-color: #333;
  scrollbar-track-color: #FFF;
  -ms-scrollbar-track-color: #FFF;
}

/* ------------------------ */
/* ----- Page: Header ----- */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  padding: 0 2rem;

}

header > nav.wz-navbar {
  background: #521b4c;
  height: 90px;
}

header > nav.wz-navbar > div.container-fluid {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
}

header > nav.wz-navbar > div.container-fluid > div.wz-brand {margin-top: -.2rem;}
header > nav.wz-navbar > div.container-fluid > div.wz-brand > a.navbar-brand > img.home-button {  
  width: 250px;
}

header > nav.wz-navbar > div.container-fluid > div.wz-main-nav {margin-top: -.2rem;}
header > nav.wz-navbar > div.container-fluid > div.wz-main-nav > div.wz-navbar-collapse > .wz-navbar-nav a,
header > nav.wz-navbar > div.container-fluid > div.wz-main-nav > div.wz-navbar-collapse > .wz-navbar-nav a:visited {
  color: #F5F5F5 !important;
  font-size: 1.0em;
  -webkit-transition: color ease .4s;
  -moz-transition: color ease .4s;
  -ms-transition: color ease .4s;
  -o-transition: color ease .4s;
  transition: color ease .4s;
}

header > nav.wz-navbar > div.container-fluid > div.wz-main-nav > div.wz-navbar-collapse > .wz-navbar-nav a:hover,
header > nav.wz-navbar > div.container-fluid > div.wz-main-nav > div.wz-navbar-collapse > .wz-navbar-nav a:focus,
header > nav.wz-navbar > div.container-fluid > div.wz-main-nav > div.wz-navbar-collapse > .wz-navbar-nav a:active {
  color: #b357a8 !important;
}

/* ---------------------- */
/* ----- Page: Main ----- */
main {
  flex: 1;
  margin: 10rem auto 0;
  z-index: 1;

  font-size: 1.2em;
}

/* ----- Carousel ----- */
main > div.wz-carousel {
  position: relative;
  top: -4.5rem;
}

main > div.wz-carousel > div.carousel-inner > div.carousel-item > img {
  height: 500px !important;
}

/* ----- Content ----- */
main > section > div.wz-container {
  border-top: 1px solid #D8D8D8;
  padding: 1rem 0;
}
main > section > div.wz-container.wz-container-no-border {border: none !important;}

main > section > div.wz-container > div.wz-content-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

main > section > div.wz-container > div.wz-content-body > div.col-text {
  width: 60%;
}

main > section > div.wz-container > div.wz-content-body > div.col-img {
  width: 40%;
}

/* ------------------------ */
/* ----- Page: Footer ----- */
footer {
  /* defina as propriedades do sticky footer */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* defina a altura fixa do footer aqui */
  height: 60px;
  padding: 0;
  /* geralmente uma img de 64x64 px para não comprometer o carregamento do site em mobile */
  background: #f5f5f5;
  color: #333;
  font-size: 1em;
}

footer > div.wz-container {
  border-top: 1px solid #D8D8D8;
  padding: 1rem .5rem;
}

footer > div.wz-container > div.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

footer > div.wz-container > div.footer-content > div.footer-left > ul {
  list-style: none;
}

footer > div.wz-container > div.footer-content > div.footer-left > ul > li > a > .svg-inline--fa {
  font-size: 1.2em !important;
}

/* ------------------------- */
/* ----- Text: Headers ----- */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Fairydust';
  font-weight: normal;
  font-style: normal;
  color: #7d326a;
}

h1 {font-size: 2.6em}
h2 {font-size: 2.2em}
h3 {font-size: 1.9em}
h4 {font-size: 1.6em}
h5 {font-size: 1.3em}
h6 {font-size: 1.0em}

/* ------ WEBKIT SCROLLBAR STYLE ----- */
::-webkit-scrollbar {width: 5px;}
::-webkit-scrollbar-track {background-color: #FFF;}
::-webkit-scrollbar-thumb {background-color: #333;}
::-webkit-scrollbar-thumb:hover {background-color: #666;}

/* ----- COMMONS ----- */
a, a.visited,
.navbar-inverse .navbar-nav .nav-link {
  color: #b357a8;
  font-weight: 400;
  -webkit-transition: color ease .4s;
  -moz-transition: color ease .4s;
  -ms-transition: color ease .4s;
  -o-transition: color ease .4s;
  transition: color ease .4s;
  text-decoration: none;
}

a:hover, a:active, a:focus,
.navbar-inverse .navbar-nav .nav-link:focus,
.navbar-inverse .navbar-nav .nav-link:hover {
  color: #7d326a;
}

button[type=button]:focus, 
input[type=password]:focus, 
input[type=text]:focus {outline: 0 !important;}

pre {
  background: #E4E4E4;
  padding: 1rem;
}

.wz-error-status {color: #C12E2A;}

/* ------------------------------------------------------ */
/* ----------- MEDIA QUERIES STANDARD DESKTOP ----------- */
@media only screen
and (min-width: 1024px)
and (max-width: 1365px) {


}

/* ----------------------------------------------------- */
/* ----------- MEDIA QUERIES STANDARD DEVICES ----------- */

/* ----------- Galaxy S4 ----------- */

/* Portrait and Landscape */
@media screen
and (device-width: 320px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 3) {

  header > nav.wz-navbar > div.container-fluid > div.wz-brand {
    position: relative;
    left: 12%;
  }
  
  header > nav.wz-navbar > div.container-fluid > button.navbar-toggler {
    display: none !important;
  }

  main > div.wz-carousel > div.carousel-inner > div.carousel-item > img {
    height: 350px !important;
  }

  main > section > div.wz-container {
    padding: 0 1rem;
  }
  
  main > section > div.wz-container > div.wz-content-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 5rem;
  }

  main > section > div.wz-container > div.wz-content-body > div.col-text {
    width: 100%;
  }
  
  main > section > div.wz-container > div.wz-content-body > div.col-img {
    width: 100%;
  }

  main > section > div.wz-container > div.wz-content-body > div.col-img > img {
    width: 400px;
  }

  footer > div.wz-container {
    margin-top: 2rem;
  }

  footer > div.wz-container > div.footer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  footer > div.wz-container > div.footer-content > div {
    margin-bottom: 1rem;
  }

}

/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen
and (device-width: 360px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 3) {

  header > nav.wz-navbar > div.container-fluid > div.wz-brand {
    position: relative;
    left: 12%;
  }
  
  header > nav.wz-navbar > div.container-fluid > button.navbar-toggler {
    display: none !important;
  }

  main > div.wz-carousel > div.carousel-inner > div.carousel-item > img {
    height: 350px !important;
  }

  main > section > div.wz-container {
    padding: 0 1rem;
  }
  
  main > section > div.wz-container > div.wz-content-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 5rem;
  }

  main > section > div.wz-container > div.wz-content-body > div.col-text {
    width: 100%;
  }
  
  main > section > div.wz-container > div.wz-content-body > div.col-img {
    width: 100%;
  }

  main > section > div.wz-container > div.wz-content-body > div.col-img > img {
    width: 400px;
  }

  footer > div.wz-container {
    margin-top: 2rem;
  }

  footer > div.wz-container > div.footer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  footer > div.wz-container > div.footer-content > div {
    margin-bottom: 1rem;
  }

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {

  header > nav.wz-navbar > div.container-fluid > div.wz-brand {
    position: relative;
    left: 12%;
  }
  
  header > nav.wz-navbar > div.container-fluid > button.navbar-toggler {
    display: none !important;
  }

  main > div.wz-carousel > div.carousel-inner > div.carousel-item > img {
    height: 350px !important;
  }

  main > section > div.wz-container {
    padding: 0 1rem;
  }
  
  main > section > div.wz-container > div.wz-content-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 5rem;
  }

  main > section > div.wz-container > div.wz-content-body > div.col-text {
    width: 100%;
  }
  
  main > section > div.wz-container > div.wz-content-body > div.col-img {
    width: 100%;
  }

  main > section > div.wz-container > div.wz-content-body > div.col-img > img {
    width: 400px;
  }

  footer > div.wz-container {
    margin-top: 2rem;
  }

  footer > div.wz-container > div.footer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  footer > div.wz-container > div.footer-content > div {
    margin-bottom: 1rem;
  }

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {

  header > nav.wz-navbar > div.container-fluid > div.wz-brand {
    position: relative;
    left: 12%;
  }
  
  header > nav.wz-navbar > div.container-fluid > button.navbar-toggler {
    display: none !important;
  }

  main > div.wz-carousel > div.carousel-inner > div.carousel-item > img {
    height: 350px !important;
  }

  main > section > div.wz-container {
    padding: 0 1rem;
  }
  
  main > section > div.wz-container > div.wz-content-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 5rem;
  }

  main > section > div.wz-container > div.wz-content-body > div.col-text {
    width: 100%;
  }
  
  main > section > div.wz-container > div.wz-content-body > div.col-img {
    width: 100%;
  }

  main > section > div.wz-container > div.wz-content-body > div.col-img > img {
    width: 400px;
  }

  footer > div.wz-container {
    margin-top: 2rem;
  }

  footer > div.wz-container > div.footer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  footer > div.wz-container > div.footer-content > div {
    margin-bottom: 1rem;
  }

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {

  header > nav.wz-navbar > div.container-fluid > div.wz-brand {
    position: relative;
    left: 12%;
  }
  
  header > nav.wz-navbar > div.container-fluid > button.navbar-toggler {
    display: none !important;
  }

  main > div.wz-carousel > div.carousel-inner > div.carousel-item > img {
    height: 350px !important;
  }

  main > section > div.wz-container {
    padding: 0 1rem;
  }
  
  main > section > div.wz-container > div.wz-content-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 5rem;
  }

  main > section > div.wz-container > div.wz-content-body > div.col-text {
    width: 100%;
  }
  
  main > section > div.wz-container > div.wz-content-body > div.col-img {
    width: 100%;
  }

  main > section > div.wz-container > div.wz-content-body > div.col-img > img {
    width: 400px;
  }

  footer > div.wz-container {
    margin-top: 2rem;
  }

  footer > div.wz-container > div.footer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  footer > div.wz-container > div.footer-content > div {
    margin-bottom: 1rem;
  }

}

/* ----------- iPad mini ----------- */
/* Portrait and Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 1) {

  header > nav.wz-navbar > div.container-fluid > div.wz-brand {
    position: relative;
    left: 12%;
  }
  
  header > nav.wz-navbar > div.container-fluid > button.navbar-toggler {
    display: none !important;
  }

  main > div.wz-carousel > div.carousel-inner > div.carousel-item > img {
    height: 350px !important;
  }

  main > section > div.wz-container {
    padding: 0 1rem;
  }
  
  main > section > div.wz-container > div.wz-content-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 5rem;
  }

  main > section > div.wz-container > div.wz-content-body > div.col-text {
    width: 100%;
  }
  
  main > section > div.wz-container > div.wz-content-body > div.col-img {
    width: 100%;
  }

  main > section > div.wz-container > div.wz-content-body > div.col-img > img {
    width: 400px;
  }

  footer > div.wz-container {
    margin-top: 2rem;
  }

  footer > div.wz-container > div.footer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  footer > div.wz-container > div.footer-content > div {
    margin-bottom: 1rem;
  }

}

/* Portrait */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 1) {

  header > nav.wz-navbar > div.container-fluid > div.wz-brand {
    position: relative;
    left: 12%;
  }
  
  header > nav.wz-navbar > div.container-fluid > button.navbar-toggler {
    display: none !important;
  }

  main > div.wz-carousel > div.carousel-inner > div.carousel-item > img {
    height: 350px !important;
  }

  main > section > div.wz-container {
    padding: 0 1rem;
  }
  
  main > section > div.wz-container > div.wz-content-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 5rem;
  }

  main > section > div.wz-container > div.wz-content-body > div.col-text {
    width: 100%;
  }
  
  main > section > div.wz-container > div.wz-content-body > div.col-img {
    width: 100%;
  }

  main > section > div.wz-container > div.wz-content-body > div.col-img > img {
    width: 400px;
  }

  footer > div.wz-container {
    margin-top: 2rem;
  }

  footer > div.wz-container > div.footer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  footer > div.wz-container > div.footer-content > div {
    margin-bottom: 1rem;
  }

}

/* Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 1) {

  header > nav.wz-navbar > div.container-fluid > div.wz-brand {
    position: relative;
    left: 12%;
  }
  
  header > nav.wz-navbar > div.container-fluid > button.navbar-toggler {
    display: none !important;
  }

  main > div.wz-carousel > div.carousel-inner > div.carousel-item > img {
    height: 350px !important;
  }

  main > section > div.wz-container {
    padding: 0 1rem;
  }
  
  main > section > div.wz-container > div.wz-content-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 5rem;
  }

  main > section > div.wz-container > div.wz-content-body > div.col-text {
    width: 100%;
  }
  
  main > section > div.wz-container > div.wz-content-body > div.col-img {
    width: 100%;
  }

  main > section > div.wz-container > div.wz-content-body > div.col-img > img {
    width: 400px;
  }

  footer > div.wz-container {
    margin-top: 2rem;
  }

  footer > div.wz-container > div.footer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  footer > div.wz-container > div.footer-content > div {
    margin-bottom: 1rem;
  }

}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2) {

  header > nav.wz-navbar > div.container-fluid > div.wz-brand {
    position: relative;
    left: 12%;
  }
  
  header > nav.wz-navbar > div.container-fluid > button.navbar-toggler {
    display: none !important;
  }

  main > div.wz-carousel > div.carousel-inner > div.carousel-item > img {
    height: 350px !important;
  }

  main > section > div.wz-container {
    padding: 0 1rem;
  }
  
  main > section > div.wz-container > div.wz-content-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 5rem;
  }

  main > section > div.wz-container > div.wz-content-body > div.col-text {
    width: 100%;
  }
  
  main > section > div.wz-container > div.wz-content-body > div.col-img {
    width: 100%;
  }

  main > section > div.wz-container > div.wz-content-body > div.col-img > img {
    width: 400px;
  }

  footer > div.wz-container {
    margin-top: 2rem;
  }

  footer > div.wz-container > div.footer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  footer > div.wz-container > div.footer-content > div {
    margin-bottom: 1rem;
  }

}

/* Portrait */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {

  header > nav.wz-navbar > div.container-fluid > div.wz-brand {
    position: relative;
    left: 12%;
  }
  
  header > nav.wz-navbar > div.container-fluid > button.navbar-toggler {
    display: none !important;
  }

  main > div.wz-carousel > div.carousel-inner > div.carousel-item > img {
    height: 350px !important;
  }

  main > section > div.wz-container {
    padding: 0 1rem;
  }
  
  main > section > div.wz-container > div.wz-content-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 5rem;
  }

  main > section > div.wz-container > div.wz-content-body > div.col-text {
    width: 100%;
  }
  
  main > section > div.wz-container > div.wz-content-body > div.col-img {
    width: 100%;
  }

  main > section > div.wz-container > div.wz-content-body > div.col-img > img {
    width: 400px;
  }

  footer > div.wz-container {
    margin-top: 2rem;
  }

  footer > div.wz-container > div.footer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  footer > div.wz-container > div.footer-content > div {
    margin-bottom: 1rem;
  }

}

/* Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) {

  header > nav.wz-navbar > div.container-fluid > div.wz-brand {
    position: relative;
    left: 12%;
  }
  
  header > nav.wz-navbar > div.container-fluid > button.navbar-toggler {
    display: none !important;
  }

  main > div.wz-carousel > div.carousel-inner > div.carousel-item > img {
    height: 350px !important;
  }

  main > section > div.wz-container {
    padding: 0 1rem;
  }
  
  main > section > div.wz-container > div.wz-content-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 5rem;
  }

  main > section > div.wz-container > div.wz-content-body > div.col-text {
    width: 100%;
  }
  
  main > section > div.wz-container > div.wz-content-body > div.col-img {
    width: 100%;
  }

  main > section > div.wz-container > div.wz-content-body > div.col-img > img {
    width: 400px;
  }

  footer > div.wz-container {
    margin-top: 2rem;
  }

  footer > div.wz-container > div.footer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  footer > div.wz-container > div.footer-content > div {
    margin-bottom: 1rem;
  }

}