.planos-big-box {
  background: transparent;
  margin-top: 3rem;
  width: 99%;
  margin-left: 0.5%;
  border-radius: 1rem;
  margin-right: 0.5%;
  padding-bottom: 0;
  position: absolute;
  height: 500.8px;
  overflow-y: auto;
}
.titulo2 {
  text-align: center;
  font-weight: bolder;
  font-size: 4rem ;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(82, 27, 76, 0.8);
}
.list {
  display: inline;
  padding-left: 0;
  width: 100%;
  height: 70%;
  text-align: center;
  padding-top: 2rem;
  list-style: none;
  align-items: center;

}
.list-element {
  box-shadow: -20px 20px 10px   rgb(82, 27, 76,0.2);
  margin-top: 2%;
  display: inline;
  position: relative;
  max-width: 372.550px;
  max-height: 309.800;
  margin-left: 2%;
  border-radius: 10px;
  text-align: center;
  font-size: 2.5rem;
  color: rgb(82, 27, 76);
  align-items: top;
  transition: 200ms ease-in-out;
  margin-top: 20px;
  background-color: transparent;
  border: 3px solid, rgb(82, 27, 76,);
}
.list-element:hover {
  transform: scale(1.08);
}
.nome-do-plano {
  background-color: transparent;
  position: relative;
  text-align: center;
  width: 100%;
  height: auto;
  border-radius: 5px;
  font-family: sans-serif;
  font-weight: bold;
}

.descrição-do-plano {
  color: #666;
  font-size: 60%;
  width: 100%;
  margin-top: 0;
  position: relative;
  text-align: center;
  margin-top: 5px;
}
.preço {
  font-size: 140%;
  font-weight: bolder;
  color: rgb(82, 27, 76, 0.8);
}
.navbar-brand {
  display: cover;
  margin-bottom: 2px;
}


.home-button {
  width: 180px;
  height: auto;
  position: sticky;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
  margin-bottom: 0px;
  list-style: none;
  text-align: right;
}
.navbar-custom {
  background-color: rgb(82, 27, 76);
}
.sign-in-button {
  background-color: whitesmoke;
  color: rgb(82, 27, 76);
  border: 2px solid rgb(82, 27, 76);
  height: 43px;
  width: 100px;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: transform 200ms ease-in-out;
  margin-left: 520px;
  margin-bottom: 5px;
}
.sign-in-button:hover {
  background-color: rgb(82, 27, 76);
  color: whitesmoke;
  border: 2px solid whitesmoke;
  transform: scale(1.1);
  cursor: pointer;
}
footer {
  position: absolute;
  bottom: 0;
  width: 90%;
}
html{
  height: 100% !important;
}
body {
  background-color: whitesmoke;
  background-image: url("../assets/img/simbolo_gradiente@2x (1).png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100% !important;
}
.contato{
  margin-right: 20px;
}
div footer ul li {
  display: inline;
  font-size: 13px;
  color:black;
}
.nome-do-plano{
  border: 1px solid rgb(82, 27, 76, 0.1);
}