/* ------------------------------------------------------ */
/* ----------- MEDIA QUERIES STANDARD DESKTOP ----------- */
@media only screen
and (min-width: 1024px)
and (max-width: 1365px) {


}

/* ----------------------------------------------------- */
/* ----------- MEDIA QUERIES STANDARD DEVICES ----------- */

/* ----------- Galaxy S4 ----------- */

/* Portrait and Landscape */
@media screen
and (device-width: 320px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 3) {

  header > nav.wz-navbar > div.container-fluid > div.wz-brand {
    position: relative;
    left: 12%;
  }
  
  header > nav.wz-navbar > div.container-fluid > button.navbar-toggler {
    display: none !important;
  }

  main > div.wz-carousel > div.carousel-inner > div.carousel-item > img {
    height: 350px !important;
  }

  main > section > div.wz-container {
    padding: 0 1rem;
  }
  
  main > section > div.wz-container > div.wz-content-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 5rem;
  }

  main > section > div.wz-container > div.wz-content-body > div.col-text {
    width: 100%;
  }
  
  main > section > div.wz-container > div.wz-content-body > div.col-img {
    width: 100%;
  }

  main > section > div.wz-container > div.wz-content-body > div.col-img > img {
    width: 400px;
  }

  footer > div.wz-container {
    margin-top: 2rem;
  }

  footer > div.wz-container > div.footer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  footer > div.wz-container > div.footer-content > div {
    margin-bottom: 1rem;
  }

}

/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen
and (device-width: 360px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 3) {

  header > nav.wz-navbar > div.container-fluid > div.wz-brand {
    position: relative;
    left: 12%;
  }
  
  header > nav.wz-navbar > div.container-fluid > button.navbar-toggler {
    display: none !important;
  }

  main > div.wz-carousel > div.carousel-inner > div.carousel-item > img {
    height: 350px !important;
  }

  main > section > div.wz-container {
    padding: 0 1rem;
  }
  
  main > section > div.wz-container > div.wz-content-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 5rem;
  }

  main > section > div.wz-container > div.wz-content-body > div.col-text {
    width: 100%;
  }
  
  main > section > div.wz-container > div.wz-content-body > div.col-img {
    width: 100%;
  }

  main > section > div.wz-container > div.wz-content-body > div.col-img > img {
    width: 400px;
  }

  footer > div.wz-container {
    margin-top: 2rem;
  }

  footer > div.wz-container > div.footer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  footer > div.wz-container > div.footer-content > div {
    margin-bottom: 1rem;
  }

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {

  header > nav.wz-navbar > div.container-fluid > div.wz-brand {
    position: relative;
    left: 12%;
  }
  
  header > nav.wz-navbar > div.container-fluid > button.navbar-toggler {
    display: none !important;
  }

  main > div.wz-carousel > div.carousel-inner > div.carousel-item > img {
    height: 350px !important;
  }

  main > section > div.wz-container {
    padding: 0 1rem;
  }
  
  main > section > div.wz-container > div.wz-content-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 5rem;
  }

  main > section > div.wz-container > div.wz-content-body > div.col-text {
    width: 100%;
  }
  
  main > section > div.wz-container > div.wz-content-body > div.col-img {
    width: 100%;
  }

  main > section > div.wz-container > div.wz-content-body > div.col-img > img {
    width: 400px;
  }

  footer > div.wz-container {
    margin-top: 2rem;
  }

  footer > div.wz-container > div.footer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  footer > div.wz-container > div.footer-content > div {
    margin-bottom: 1rem;
  }

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {

  header > nav.wz-navbar > div.container-fluid > div.wz-brand {
    position: relative;
    left: 12%;
  }
  
  header > nav.wz-navbar > div.container-fluid > button.navbar-toggler {
    display: none !important;
  }

  main > div.wz-carousel > div.carousel-inner > div.carousel-item > img {
    height: 350px !important;
  }

  main > section > div.wz-container {
    padding: 0 1rem;
  }
  
  main > section > div.wz-container > div.wz-content-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 5rem;
  }

  main > section > div.wz-container > div.wz-content-body > div.col-text {
    width: 100%;
  }
  
  main > section > div.wz-container > div.wz-content-body > div.col-img {
    width: 100%;
  }

  main > section > div.wz-container > div.wz-content-body > div.col-img > img {
    width: 400px;
  }

  footer > div.wz-container {
    margin-top: 2rem;
  }

  footer > div.wz-container > div.footer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  footer > div.wz-container > div.footer-content > div {
    margin-bottom: 1rem;
  }

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {

  header > nav.wz-navbar > div.container-fluid > div.wz-brand {
    position: relative;
    left: 12%;
  }
  
  header > nav.wz-navbar > div.container-fluid > button.navbar-toggler {
    display: none !important;
  }

  main > div.wz-carousel > div.carousel-inner > div.carousel-item > img {
    height: 350px !important;
  }

  main > section > div.wz-container {
    padding: 0 1rem;
  }
  
  main > section > div.wz-container > div.wz-content-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 5rem;
  }

  main > section > div.wz-container > div.wz-content-body > div.col-text {
    width: 100%;
  }
  
  main > section > div.wz-container > div.wz-content-body > div.col-img {
    width: 100%;
  }

  main > section > div.wz-container > div.wz-content-body > div.col-img > img {
    width: 400px;
  }

  footer > div.wz-container {
    margin-top: 2rem;
  }

  footer > div.wz-container > div.footer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  footer > div.wz-container > div.footer-content > div {
    margin-bottom: 1rem;
  }

}

/* ----------- iPad mini ----------- */
/* Portrait and Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 1) {

  header > nav.wz-navbar > div.container-fluid > div.wz-brand {
    position: relative;
    left: 12%;
  }
  
  header > nav.wz-navbar > div.container-fluid > button.navbar-toggler {
    display: none !important;
  }

  main > div.wz-carousel > div.carousel-inner > div.carousel-item > img {
    height: 350px !important;
  }

  main > section > div.wz-container {
    padding: 0 1rem;
  }
  
  main > section > div.wz-container > div.wz-content-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 5rem;
  }

  main > section > div.wz-container > div.wz-content-body > div.col-text {
    width: 100%;
  }
  
  main > section > div.wz-container > div.wz-content-body > div.col-img {
    width: 100%;
  }

  main > section > div.wz-container > div.wz-content-body > div.col-img > img {
    width: 400px;
  }

  footer > div.wz-container {
    margin-top: 2rem;
  }

  footer > div.wz-container > div.footer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  footer > div.wz-container > div.footer-content > div {
    margin-bottom: 1rem;
  }

}

/* Portrait */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 1) {

  header > nav.wz-navbar > div.container-fluid > div.wz-brand {
    position: relative;
    left: 12%;
  }
  
  header > nav.wz-navbar > div.container-fluid > button.navbar-toggler {
    display: none !important;
  }

  main > div.wz-carousel > div.carousel-inner > div.carousel-item > img {
    height: 350px !important;
  }

  main > section > div.wz-container {
    padding: 0 1rem;
  }
  
  main > section > div.wz-container > div.wz-content-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 5rem;
  }

  main > section > div.wz-container > div.wz-content-body > div.col-text {
    width: 100%;
  }
  
  main > section > div.wz-container > div.wz-content-body > div.col-img {
    width: 100%;
  }

  main > section > div.wz-container > div.wz-content-body > div.col-img > img {
    width: 400px;
  }

  footer > div.wz-container {
    margin-top: 2rem;
  }

  footer > div.wz-container > div.footer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  footer > div.wz-container > div.footer-content > div {
    margin-bottom: 1rem;
  }

}

/* Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 1) {

  header > nav.wz-navbar > div.container-fluid > div.wz-brand {
    position: relative;
    left: 12%;
  }
  
  header > nav.wz-navbar > div.container-fluid > button.navbar-toggler {
    display: none !important;
  }

  main > div.wz-carousel > div.carousel-inner > div.carousel-item > img {
    height: 350px !important;
  }

  main > section > div.wz-container {
    padding: 0 1rem;
  }
  
  main > section > div.wz-container > div.wz-content-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 5rem;
  }

  main > section > div.wz-container > div.wz-content-body > div.col-text {
    width: 100%;
  }
  
  main > section > div.wz-container > div.wz-content-body > div.col-img {
    width: 100%;
  }

  main > section > div.wz-container > div.wz-content-body > div.col-img > img {
    width: 400px;
  }

  footer > div.wz-container {
    margin-top: 2rem;
  }

  footer > div.wz-container > div.footer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  footer > div.wz-container > div.footer-content > div {
    margin-bottom: 1rem;
  }

}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2) {

  header > nav.wz-navbar > div.container-fluid > div.wz-brand {
    position: relative;
    left: 12%;
  }
  
  header > nav.wz-navbar > div.container-fluid > button.navbar-toggler {
    display: none !important;
  }

  main > div.wz-carousel > div.carousel-inner > div.carousel-item > img {
    height: 350px !important;
  }

  main > section > div.wz-container {
    padding: 0 1rem;
  }
  
  main > section > div.wz-container > div.wz-content-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 5rem;
  }

  main > section > div.wz-container > div.wz-content-body > div.col-text {
    width: 100%;
  }
  
  main > section > div.wz-container > div.wz-content-body > div.col-img {
    width: 100%;
  }

  main > section > div.wz-container > div.wz-content-body > div.col-img > img {
    width: 400px;
  }

  footer > div.wz-container {
    margin-top: 2rem;
  }

  footer > div.wz-container > div.footer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  footer > div.wz-container > div.footer-content > div {
    margin-bottom: 1rem;
  }

}

/* Portrait */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {

  header > nav.wz-navbar > div.container-fluid > div.wz-brand {
    position: relative;
    left: 12%;
  }
  
  header > nav.wz-navbar > div.container-fluid > button.navbar-toggler {
    display: none !important;
  }

  main > div.wz-carousel > div.carousel-inner > div.carousel-item > img {
    height: 350px !important;
  }

  main > section > div.wz-container {
    padding: 0 1rem;
  }
  
  main > section > div.wz-container > div.wz-content-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 5rem;
  }

  main > section > div.wz-container > div.wz-content-body > div.col-text {
    width: 100%;
  }
  
  main > section > div.wz-container > div.wz-content-body > div.col-img {
    width: 100%;
  }

  main > section > div.wz-container > div.wz-content-body > div.col-img > img {
    width: 400px;
  }

  footer > div.wz-container {
    margin-top: 2rem;
  }

  footer > div.wz-container > div.footer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  footer > div.wz-container > div.footer-content > div {
    margin-bottom: 1rem;
  }

}

/* Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) {

  header > nav.wz-navbar > div.container-fluid > div.wz-brand {
    position: relative;
    left: 12%;
  }
  
  header > nav.wz-navbar > div.container-fluid > button.navbar-toggler {
    display: none !important;
  }

  main > div.wz-carousel > div.carousel-inner > div.carousel-item > img {
    height: 350px !important;
  }

  main > section > div.wz-container {
    padding: 0 1rem;
  }
  
  main > section > div.wz-container > div.wz-content-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 5rem;
  }

  main > section > div.wz-container > div.wz-content-body > div.col-text {
    width: 100%;
  }
  
  main > section > div.wz-container > div.wz-content-body > div.col-img {
    width: 100%;
  }

  main > section > div.wz-container > div.wz-content-body > div.col-img > img {
    width: 400px;
  }

  footer > div.wz-container {
    margin-top: 2rem;
  }

  footer > div.wz-container > div.footer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  footer > div.wz-container > div.footer-content > div {
    margin-bottom: 1rem;
  }

}